
header{
    background: #c06bb6;
  
}
.topTitle{
  width: 100%;
  height: .40rem;
  line-height: .40rem;
  display: -webkit-flex;
  /*padding-left:.1rem;*/
  
  -webkit-justify-content:space-between;
}
.topTitle a:nth-child(1){
 padding-left:.2rem;
  width:.28rem;
  height: .3rem;
  background: url(../img/p_ico_1.jpg) no-repeat .05rem .04rem;
  background-size: .28rem .3rem;
}
.topTitle a:nth-child(3){
   padding-right:.2rem;
  width:.28rem;
  height: .3rem;
  background: url(../img/p_ico_2.jpg) no-repeat .08rem .03rem;
  background-size: .28rem .3rem;
}
.topTitle span{
  font-size: .16rem;
  color: #fff;
}

.nav_list{
  width: 100%;
  height: .37rem;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  overflow-x: auto;
   }
  .nav_list a {
    line-height: .37rem;
    height: .37rem;
    font-size: .14rem;
    color: #fff;
    -webkit-flex-shrink: 0;
    margin: 0 .18rem; 
}
.nav_list::-webkit-scrollbar{
    display: none;
}


// section
section{
    background: #f4f4f4;
    overflow-x: auto;
    height: 100%;
    -webkit-flex:1;
}
section::-webkit-scrollbar{
    display: none;
}

section .advantage{
   background: #fff;
    width: 100%;
    height: .41rem;
    display: -webkit-flex;
    text-align: center;
    line-height: .41rem;
    -webkit-justify-content:space-around;
    span{
      
        text-align: center;
        line-height: .41rem;
        font-size: .12rem;
        color: #58595b;
    }
}
.icon-R,.icon-88,.icon-jiagepaixu{
    margin-right: .07rem;
}

   #brandBuyBox{
        background: #fff url(../img/p_ico_3.jpg) no-repeat .2rem center;
        background-size: .07rem .17rem;
        display: -webkit-flex;
        height: .48rem;
        line-height: .48rem;
        padding-right: .12rem;
        span{
            font-size: .13rem;
           
           
        }     
        span:nth-child(3){
            vertical-align: middle;
             margin-top: .19rem;
            margin-right: .09rem;
            width: .17rem;
            height: .14rem;
            font-size: .12rem;
            color: #ffffff;
            background: #000000;
            text-align: center;
            line-height: .14rem;

        }
       
        span:nth-child(4){
            margin-top: .19rem;
            vertical-align: middle;
            margin-right: .09rem;  
            width: .17rem;
            height: .14rem;
            font-size: .12rem;
            color: #ffffff;
            background: #000000;
            text-align: center;
            line-height: .14rem;
        }
        span:nth-child(5){
            margin-top: .19rem;
            vertical-align: middle;
            margin-right: 1rem;  
            width: .17rem;
            height: .14rem;
            font-size: .12rem;
            color: #ffffff;
            background: #000000;
            text-align: center;
            line-height: .14rem;
        }
        a{
            font-size: .12rem;
            color: #9c9c9c;
        }
    }
#bannerBox{
    margin: .09rem auto;
    img{
        width: 100%;
        height: 1.06rem;
    }
}

.advantage{
    margin-bottom: .09rem;
}
#brandBuy{
  
        margin-left: .39rem;
        margin-right: .07rem;
        text-align: center;
}
#end{
        text-align: center;
        font-size: .12rem;
        color: #9c9c9c;
        margin-right: .05rem;
    
}
.brandGoods .brandList{
    width: 100%;
    height: 1.71rem;
    overflow-y: auto;   
    display: -webkit-flex;
    text-align: center;
    padding-bottom: .13rem;
    -webkit-flex-wrap:nowrap;
}
.brandList::-webkit-scrollbar{
    display: none;
}
#goodslist{
        //   -webkit-flex:1;
        display: -webkit-flex;

        text-align: center;
        height: 1.72rem;
        background: #fff;
        -webkit-flex-direction:column;
        img:nth-of-type(1){
            width: 1.13rem;
            height: 1.15rem;
        }   
        padding-left: .07rem;
}
#title{
    color: #5e5e5f;
    font-size: .10rem;
    text-align: center;
    // margin-top: .2rem;
    line-height: .27rem;
    padding-top: 0px;
}
#price{
    margin-top: 0px;
    text-align: center;
    color: #5e5e5f;
    font-size: .10rem;
    margin-top: 0px;
    span:nth-child(1){
        margin-left: 0px;
        color: red;
        font-size: .1rem;
        // margin-top: .2rem;
    }
    span:nth-child(2){
        text-decoration: line-through;
        margin-bottom: .1rem;
    }
}
section #newHostBox .newLast{
    margin-top: 0rem;

}


#linkA{
    margin-left:1.50rem;
}
#newHostBox{
    display: -webkit-flex;
    -webkit-flex-direction:column;
    width: 100%;
    img:nth-child(1){
        width: 3.06rem;
        height: .98rem;
    }
    
}
#imgBox{
    display:-webkit-flex;
    img{
        width: 1.88rem;
        height: .97rem;
    }
}
section .directinBox #brandBuyBox .linkB{
    margin-left: 1.3rem;
}
section .directinBox .directin{
    margin-top: .09rem;
}
.directinBox{
    display: -webkit-flex;
    -webkit-flex-direction:column;
    padding-bottom:.11rem;
    margin-bottom: .1rem;
    background: #fff;
}
.brandBox{
    display: -webkit-flex;
    width: 3.60rem;
    -webkit-flex-wrap:wrap;
    
    a{
        border-radius: .08rem;
        border:1px solid #f2f2f2;
        margin-right:.1rem;
        margin-bottom: .1rem;
        width: .78rem;
        height: .87rem;
        img{
            width: .77rem;
            height: .86rem;
        }
    }
}
.goodsListBox{
    width:3.60rem;
    display: -webkit-flex; 
    -webkit-flex-wrap:wrap;
}

#tuijian{
        background: #fff ;
        width:3.6rem;
        height: .48rem;
        line-height: .48rem;
        text-align: center;
        font-size: .13rem;

        .icon-ziyuan{
            font-size: .2rem;
            color: #c06bb6;
        }
        border-bottom: 1px solid #f4f4f4;
}
.goodsInfo:nth-child(2n){
    margin-right: 0;
}
.goodsInfo{
    width:1.78rem;
    height: 2.57rem;
    display: -webkit-flex; 
    background: #fff;
    -webkit-flex-direction:column;
    margin-bottom: .02rem;
    margin-right: .02rem;
    img{
        width: 1.77rem;
        height:1.79rem;
    }
    p{
        font-size:.12rem;
    }
}
#p_title{
    font-size:.12rem;
    color:#151516;
    margin-left: .09rem;
}
#p1{
    margin-left: .09rem;
    line-height: .28rem;
    span:nth-child(1){
        width:.41rem;
        height: .18rem; 
        background:#c06bb6;
      border-radius: .03em;
      margin-right: .06rem;
      color: #fff  ;
    
    }
    span:nth-child(2){
        width:.41rem;
        height: .18rem; 
        background:#fff;
        color: #c06bb6;
        border-radius: .03rem;
       margin-bottom: .09rem;
        border: 1px solid #c06bb6;
    }
}
#p2{
    margin-left: .09rem;
    span:nth-child(1){
        color: red;
    }
    span:nth-child(2){
        color: #b9b5b5;
        
    }
}